.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cfe8e6;
    height: 100vh;
    padding: 15px;
    box-sizing: border-box;
}

.signup-card {
    width: 100%;
    max-width: 800px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-header {
    background-color: #00695c;
    color: white;
    text-align: center;
    padding: 20px;
}

.signup-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 36px 63px;
    box-sizing: border-box;
}

.signup-input .MuiFilledInput-root {
    background-color: #f9f9f9;
}

.signup-btn {
    background-color: #00695c !important;
    padding: 12px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 16px;
    width: 120px !important;
    margin-left: auto !important;
}

.form-row {
    display: flex;
    gap: 15px;
}

.form-row .signup-input {
    flex: 1;
}

/* ----------- Responsive Breakpoints ----------- */

@media (max-width: 768px) {
    .signup-form {
        padding: 40px;
    }

    .form-row {
        flex-direction: column;
    }

    .signup-btn {
        align-self: flex-end;
    }
}

@media (max-width: 480px) {
    .signup-form {
        padding: 24px;
    }

    .signup-header {
        padding: 15px;
    }

    .signup-header h6 {
        font-size: 18px;
    }

    .signup-btn {
        font-size: 14px;
        padding: 10px;
        width: 100px !important;
    }
}